.titulo {
    margin: 100px;
    color: blue;
    padding: 10px;
    font-family: Arial;
}

.parrafo {
    color: blue;
    margin: auto;
    font-family: sans-serif;
}

.cont {
    border: solid;
    margin: auto;
    background-color: darkgoldenrod;
    margin-block: 100px;
}